@font-face {
  font-family: 'Italianno';
  src: url('../fonts/Italianno-Regular.eot');
  src: url('../fonts/Italianno-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Italianno-Regular.woff2') format('woff2'),
      url('../fonts/Italianno-Regular.woff') format('woff'),
      url('../fonts/Italianno-Regular.ttf') format('truetype'),
      url('../fonts/Italianno-Regular.svg#Italianno-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$background-color: #010203;
$button-color: #03e9f4;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $background-color;
  perspective: 5000px;
  overflow: hidden;
}

.canvas {
  max-width: 1000px;
  max-height: 800px;
  width: 85%;
  height: 75%;
  background-color: $background-color;
  transition: 0.5s ease 0.7s;
}

// 007 logo
#logo {
  display: none;
}

.button-container {
  position: relative;
  width: 100%;
  height: 25%;
}


// Start button
.start-button-wrapper {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  opacity: 0;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: 0.8s ease-in;
  will-change: opacity;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.start-button {
  display: inline-block;
  padding: 15px 20px;
  font-family: 'Italianno';
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: $button-color;
  overflow: hidden;
  filter: hue-rotate(290deg);

  span {
    position: absolute;
    display: block;
  }

  span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, $button-color);
    animation: animate1 1s linear infinite;
  }

  span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, $button-color);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
  }

  span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, $button-color);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
  }

  span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, $button-color);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
  }
}

.original {
  &:hover,
  &:hover + .reflection-wrapper > .reflection {
    background: $button-color;
    color: $background-color;
    box-shadow: 0 0 5px $button-color,
                0 0 25px $button-color,
                0 0 50px $button-color,
                0 0 100px $button-color;
    transition: 0.5s;
  }
}

.reflection-wrapper {
  position: relative;
}

.reflection {
  transform: rotateX(180deg);

  &:hover {
    cursor: default;
  }
}

.reflection-mask {
  position: absolute;
  top: 0;
  left: -100%;
  width: 300%;
  height: 300%;
  background: linear-gradient(to bottom, transparent, $background-color 25%);
  z-index: 2;
}

.original-fall-animation {
  opacity: 0;
  transform-style: preserve-3d;
  transform: rotateX(-90deg);
  transform-origin: bottom center;
  transition: transform 0.5s ease-in, opacity 1s;
  will-change: transform, opacity;
}

.reflection-fall-animation {
  opacity: 0;
  transform-style: preserve-3d;
  transform: rotateX(90deg);
  transform-origin: top center;
  transition: transform 0.5s ease-in, opacity 1s;
  will-change: transform, opacity;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,100% {
    top: 100%;
  }
}

@keyframes animate3 {
  0% {
    right: -100%;
  }

  50%,100% {
    right: 100%;
  }
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }

  50%,100% {
    bottom: 100%;
  }
}

// Refresh button
.refresh-button-wrapper {
  position: absolute;
  top: 10px;
  left: 50%;
  opacity: 0;
  overflow: hidden;
  transform: translate3d(50px, 0, -1000px) rotateY(-90deg);
  transform-origin: right;

  .reflection-wrapper {
    margin-top: 4px;
  }
}

.refresh-button {
  display: block;
  position: relative;
  padding: 15px 20px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	color: #1670f0;
  overflow: hidden;
  perspective: 1000px;
  transform-style: preserve-3d;
  will-change: transform, opacity;

  .letter {
    display: inline-block;
    will-change: transform;
  }

  span:nth-child(5) {
    transition: 0.5s;
  }

  span:nth-child(6) {
    transition: 0.4s;
  }

  span:nth-child(7) {
    transition: 0.6s;
  }

  span:nth-child(8) {
    transition: 0.45s;
  }

  span:nth-child(9) {
    transition: 0.5s;
  }

  span:nth-child(10) {
    transition: 0.5s;
  }

  span:nth-child(11) {
    transition: 0.5s;
  }

  &:hover,
  &:hover + .reflection-wrapper > .reflection  {
    span:nth-child(5) {
      transform: translateZ(160px);
    }
    
    span:nth-child(6) {
      transform: translateZ(-100px);
    }

    span:nth-child(7) {
      transform: translateZ(120px);
    }

    span:nth-child(8) {
      transform: translateZ(180px);
    }

    span:nth-child(9) {
      transform: translateZ(-260px);
    }

    span:nth-child(10) {
      transform: translateZ(60px);
    }

    span:nth-child(11) {
      transform: translateZ(260px);
    }
  }

  span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0c002b, #1779ff);
    transform: translateX(-100%);
    will-change: transform, opacity;
  }
  
  span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, #1779ff);
    transform: translateY(-100%);
    will-change: transform, opacity;
  }
  
  span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #0c002b, #1779ff);
    transform: translateX(100%);
    will-change: transform, opacity;
  }
  
  span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #1779ff);
    transform: translateY(100%);
    will-change: transform, opacity;
  }
}

.slide-in {
  opacity: 1;
  transform: translate3d(-50%, 0, 0) rotateY(0);
  transition: transform 2s ease-in-out, opacity 1s ease 0.5s;
}

.close-button {
  opacity: 0;
  transition: opacity 0.5s ease-in-out 0.2s;
}

.refresh-button span:nth-child(1) {
	animation: animate-1 2s linear infinite;
}

.refresh-button span:nth-child(2) {
	animation: animate-2 2s 1s linear infinite;
}

.refresh-button span:nth-child(3) {
	animation: animate-3 2s linear infinite;
}

.refresh-button span:nth-child(4) {
	animation: animate-4 2s 1s linear infinite;
}

@keyframes animate-1 {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

@keyframes animate-2 {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(100%);
	}
} 

@keyframes animate-3 {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes animate-4 {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(-100%);
	}
}
