@font-face {
  font-family: 'Italianno';
  src: url("../fonts/Italianno-Regular.eot");
  src: url("../fonts/Italianno-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Italianno-Regular.woff2") format("woff2"), url("../fonts/Italianno-Regular.woff") format("woff"), url("../fonts/Italianno-Regular.ttf") format("truetype"), url("../fonts/Italianno-Regular.svg#Italianno-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #010203;
  -webkit-perspective: 5000px;
          perspective: 5000px;
  overflow: hidden;
}

.canvas {
  max-width: 1000px;
  max-height: 800px;
  width: 85%;
  height: 75%;
  background-color: #010203;
  -webkit-transition: 0.5s ease 0.7s;
  transition: 0.5s ease 0.7s;
}

#logo {
  display: none;
}

.button-container {
  position: relative;
  width: 100%;
  height: 25%;
}

.start-button-wrapper {
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 10px;
  opacity: 0;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
  will-change: opacity;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.start-button {
  display: inline-block;
  padding: 15px 20px;
  font-family: 'Italianno';
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #03e9f4;
  overflow: hidden;
  -webkit-filter: hue-rotate(290deg);
          filter: hue-rotate(290deg);
}

.start-button span {
  position: absolute;
  display: block;
}

.start-button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#03e9f4));
  background: linear-gradient(90deg, transparent, #03e9f4);
  -webkit-animation: animate1 1s linear infinite;
          animation: animate1 1s linear infinite;
}

.start-button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#03e9f4));
  background: linear-gradient(180deg, transparent, #03e9f4);
  -webkit-animation: animate2 1s linear infinite;
          animation: animate2 1s linear infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.start-button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#03e9f4));
  background: linear-gradient(270deg, transparent, #03e9f4);
  -webkit-animation: animate3 1s linear infinite;
          animation: animate3 1s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.start-button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#03e9f4));
  background: linear-gradient(360deg, transparent, #03e9f4);
  -webkit-animation: animate4 1s linear infinite;
          animation: animate4 1s linear infinite;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.original:hover,
.original:hover + .reflection-wrapper > .reflection {
  background: #03e9f4;
  color: #010203;
  -webkit-box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
          box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.reflection-wrapper {
  position: relative;
}

.reflection {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.reflection:hover {
  cursor: default;
}

.reflection-mask {
  position: absolute;
  top: 0;
  left: -100%;
  width: 300%;
  height: 300%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(25%, #010203));
  background: linear-gradient(to bottom, transparent, #010203 25%);
  z-index: 2;
}

.original-fall-animation {
  opacity: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transition: opacity 1s, -webkit-transform 0.5s ease-in;
  transition: opacity 1s, -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in, opacity 1s;
  transition: transform 0.5s ease-in, opacity 1s, -webkit-transform 0.5s ease-in;
  will-change: transform, opacity;
}

.reflection-fall-animation {
  opacity: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: opacity 1s, -webkit-transform 0.5s ease-in;
  transition: opacity 1s, -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in, opacity 1s;
  transition: transform 0.5s ease-in, opacity 1s, -webkit-transform 0.5s ease-in;
  will-change: transform, opacity;
}

@-webkit-keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

@-webkit-keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

@-webkit-keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

@-webkit-keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

.refresh-button-wrapper {
  position: absolute;
  top: 10px;
  left: 50%;
  opacity: 0;
  overflow: hidden;
  -webkit-transform: translate3d(50px, 0, -1000px) rotateY(-90deg);
          transform: translate3d(50px, 0, -1000px) rotateY(-90deg);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.refresh-button-wrapper .reflection-wrapper {
  margin-top: 4px;
}

.refresh-button {
  display: block;
  position: relative;
  padding: 15px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color: #1670f0;
  overflow: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  will-change: transform, opacity;
}

.refresh-button .letter {
  display: inline-block;
  will-change: transform;
}

.refresh-button span:nth-child(5) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.refresh-button span:nth-child(6) {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.refresh-button span:nth-child(7) {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.refresh-button span:nth-child(8) {
  -webkit-transition: 0.45s;
  transition: 0.45s;
}

.refresh-button span:nth-child(9) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.refresh-button span:nth-child(10) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.refresh-button span:nth-child(11) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.refresh-button:hover span:nth-child(5),
.refresh-button:hover + .reflection-wrapper > .reflection span:nth-child(5) {
  -webkit-transform: translateZ(160px);
          transform: translateZ(160px);
}

.refresh-button:hover span:nth-child(6),
.refresh-button:hover + .reflection-wrapper > .reflection span:nth-child(6) {
  -webkit-transform: translateZ(-100px);
          transform: translateZ(-100px);
}

.refresh-button:hover span:nth-child(7),
.refresh-button:hover + .reflection-wrapper > .reflection span:nth-child(7) {
  -webkit-transform: translateZ(120px);
          transform: translateZ(120px);
}

.refresh-button:hover span:nth-child(8),
.refresh-button:hover + .reflection-wrapper > .reflection span:nth-child(8) {
  -webkit-transform: translateZ(180px);
          transform: translateZ(180px);
}

.refresh-button:hover span:nth-child(9),
.refresh-button:hover + .reflection-wrapper > .reflection span:nth-child(9) {
  -webkit-transform: translateZ(-260px);
          transform: translateZ(-260px);
}

.refresh-button:hover span:nth-child(10),
.refresh-button:hover + .reflection-wrapper > .reflection span:nth-child(10) {
  -webkit-transform: translateZ(60px);
          transform: translateZ(60px);
}

.refresh-button:hover span:nth-child(11),
.refresh-button:hover + .reflection-wrapper > .reflection span:nth-child(11) {
  -webkit-transform: translateZ(260px);
          transform: translateZ(260px);
}

.refresh-button span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#0c002b), to(#1779ff));
  background: linear-gradient(to right, #0c002b, #1779ff);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  will-change: transform, opacity;
}

.refresh-button span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#0c002b), to(#1779ff));
  background: linear-gradient(to bottom, #0c002b, #1779ff);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  will-change: transform, opacity;
}

.refresh-button span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(#0c002b), to(#1779ff));
  background: linear-gradient(to left, #0c002b, #1779ff);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  will-change: transform, opacity;
}

.refresh-button span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#0c002b), to(#1779ff));
  background: linear-gradient(to top, #0c002b, #1779ff);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  will-change: transform, opacity;
}

.slide-in {
  opacity: 1;
  -webkit-transform: translate3d(-50%, 0, 0) rotateY(0);
          transform: translate3d(-50%, 0, 0) rotateY(0);
  -webkit-transition: opacity 1s ease 0.5s, -webkit-transform 2s ease-in-out;
  transition: opacity 1s ease 0.5s, -webkit-transform 2s ease-in-out;
  transition: transform 2s ease-in-out, opacity 1s ease 0.5s;
  transition: transform 2s ease-in-out, opacity 1s ease 0.5s, -webkit-transform 2s ease-in-out;
}

.close-button {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out 0.2s;
  transition: opacity 0.5s ease-in-out 0.2s;
}

.refresh-button span:nth-child(1) {
  -webkit-animation: animate-1 2s linear infinite;
          animation: animate-1 2s linear infinite;
}

.refresh-button span:nth-child(2) {
  -webkit-animation: animate-2 2s 1s linear infinite;
          animation: animate-2 2s 1s linear infinite;
}

.refresh-button span:nth-child(3) {
  -webkit-animation: animate-3 2s linear infinite;
          animation: animate-3 2s linear infinite;
}

.refresh-button span:nth-child(4) {
  -webkit-animation: animate-4 2s 1s linear infinite;
          animation: animate-4 2s 1s linear infinite;
}

@-webkit-keyframes animate-1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes animate-1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes animate-2 {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes animate-2 {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@-webkit-keyframes animate-3 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes animate-3 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes animate-4 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes animate-4 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
/*# sourceMappingURL=style.css.map */